# ignore everything
*
# use exceptions to create an "allow list"
!/asgi.py
!/bin
!/config
!/jbi
!/poetry.lock
!/pyproject.toml
!/version.json

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
