version: "3.8"
services:
  web:
    build: .
    command: python -m asgi
    env_file:
      - .env
    # Let the init system handle signals for us.
    # among other things this helps shutdown be fast
    init: true
    ports:
      - ${PORT:-8000}:${PORT:-8000}
    volumes:
      - .:/app
  retry:
    build: .
    command: python -m jbi.retry
    env_file:
      - .env
    volumes:
      - .:/app
