<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{actions|length}} actions.</p>
        <div id="collections">
            <table>
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Contact</th>
                        <th>Description </th>
                        <th>Enabled</th>
                        <th>Module</th>
                        <th>Parameters</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for action in actions %}
                        {% if enable_query == none or action.enabled == enable_query %}
                        <tr>
                            <td class="identifier">{{action.whiteboard_tag}}</td>
                            <td class="contact">{{action.contact}}</td>
                            <td class="description">{{action.description}}</td>
                            <td class="enabled">{{action.enabled}}</td>
                            <td class="module">{{action.module}}</td>
                            <td class="parameters">
                                <dl>{% for param, value in action.parameters.items() %}<dt>{{param}}</dt><dd>{{value}}</dd>{% endfor %}</dl>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
