---
# Action Config
- action_tag: devtest
  contact: tbd
  description: DevTest whiteboard tag
  enabled: true
  parameters:
    jira_project_key: JST

- action_tag: flowstate
  allow_private: true
  contact: dtownsend@mozilla.com
  description: Flowstate whiteboard tag
  enabled: true
  module: src.jbi.whiteboard_actions.default_with_assignee_and_status
  parameters:
    jira_project_key: MR2
    status_map:
      ASSIGNED: In Progress
      FIXED: In Review
      REOPENED: In Progress
