name: Run CI checks

on: pull_request

jobs:
  run_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: 3.13
      - name: Run lint
        run: make lint
  run_test:
    runs-on: ubuntu-latest
    steps:
      - name: Install pandoc
        run: sudo apt-get install -y pandoc
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: 3.13
      - name: Run tests
        run: make tests
      - name: Run retry
        env:
          JBI_API_KEY: key  # pragma: allowlist secret
          JIRA_API_KEY: key  # pragma: allowlist secret
          JIRA_USERNAME: foo@bar
          BUGZILLA_API_KEY: key  # pragma: allowlist secret
          DL_QUEUE_CONSTANT_RETRY: false
          DL_QUEUE_DSN: "file:///tmp/dlqueue"
        run: uv run python -m jbi.retry
  review-dependabot-pr:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
    steps:
      - name: Enable Dependabot automation
        uses: mozilla/syseng-pod/actions/dependabot-automerge@main
